# Build directories
build/
out/
cmake-build-*/

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Compiled files
*.exe
*.obj
*.o
*.dll
*.lib
*.exp
*.pdb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
